.user-profile {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    align-self: center;
}

.user-profile:hover {
    color: white;
}

.fa-user {
    font-size: 20px;
}

.fa-search {
    color: black;
    align-self: center;
    padding-right:10px;
}

body {
    background-color: white;
}



.vdf-logo {
    width: 50px;
}

.phone-info {
    background-color: white;
}

.phone-card {
    border-radius: 50px;
}

.nav-link1 {
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-right: 10px;
}

.container1 {
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

.row1 {
    display: flex;
    justify-content: flex-end;
}

.menu-container {
    width: 200px;
}

.filter-options {
    background-color: white;
    width: 200px;
}

.sort-by {
    width: 200px;
}

.menu {
    display: flex;
    justify-content: center;
}

.phone-container {
    display: flex;
    justify-content: space-between;
}

.btn-danger {
    background-color: #e60000 ;
}

.filter-btn, .filter-btn:hover {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    outline: 0px solid;
}
.user-profile, .user-profile:hover {
    color: black;
}

.submit-button {
    background-color: white;
    border-radius: 5px;
    border: none;
    outline: 1px solid gray;
    margin-bottom: 2px;
    margin-right: 2px;
}


.container {
    max-width: 960px;
}

