.main {
    width: 100%;
    height: calc(100vh - 76px);
    background-image: url("/img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.see-more {
    position: relative;
    right: 95px;
}

.user-profile {
    color: black;
}